<!DOCTYPE html>
<html>
<head>
    <title>JJ Cafeteria</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header style="    background: linear-gradient(45deg, #ff6a00, rgb(255 196 0));
">🍽️ JJ Cafeteria</header>

<!-- HERO SECTION -->
<section class="hero">
    <h1>Fresh Food, Fast Pickup </h1>
    <p>Order your favorite meals and collect within 10 minutes</p>

    <button onclick="location.href='/student-page'">Student Login</button>
    <button onclick="location.href='/admin-page'">Admin Login</button>
</section>

<!-- FEATURES -->
<section class="features">
    <div class="card">
        <h3>⚡ Fast Ordering</h3>
        <p>Order in seconds with simple UI</p>
    </div>

    <div class="card">
        <h3>📦 Live Status</h3>
        <p>Track your order in real-time</p>
    </div>

    <div class="card">
        <h3>🍹 Multiple Categories</h3>
        <p>Foods, Snacks, Juices & more</p>
    </div>
</section>

<!-- CATEGORIES PREVIEW -->
<section class="categories">
    <h2>Explore Categories</h2>

    <div class="category-grid">
        <div class="card">🍔 Foods</div>
        <div class="card">🍟 Snacks</div>
        <div class="card">🧃 Juices</div>
        <div class="card">📚 Stationery</div>
    </div>
</section>

<!-- FOOTER -->
<footer>
    <p>© 2026 JJ Cafeteria | Smart Campus Canteen System</p>
</footer>

</body>
</html>